<!---Inherits frame.html --->
{% extends "supply/frame.html" %}
{% load staticfiles %}

    <!-- Custom files for this template -->
    {% block page_file_links %}
    <link href="{% static 'supply/css/offcanvas.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- Main row block (between header and footer) for this template -->
    {% block main_row_block %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-left">
      
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
            <!---Block for menu list on left side --->
			{% block side_bar_block %}            
   			
   			{% endblock %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>    
        <!---Block for right pane --->        
        {% block right_pane_block %} 

        {% endblock %}
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.container-->
    {% endblock %}

    <!---Block for page end file links --->        
    {% block page_end_file_links %}
    <script src="{% static 'supply/js/offcanvas.js' %}"></script>
    {% endblock %}
