<!---Inherits base.html --->
{% extends "supply/base.html" %}

<!---title block --->
{% block page_title %}
<title>Easy Native Ad Platform</title>
{% endblock %}

<!---Block for Navigation Bar on top of page --->
{% block nav_bar_block %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
		<li><a href="{% url 'supply:inventory' %}">Inventory</a></li>
		<li><a href="{% url 'supply:reports' %}">Reports</a></li>
	</ul>
{% endblock %}

 <!---Block for menu list on left side --->   
{% block side_bar_block %}            
	<li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
	<li><a href="{% url 'supply:lines' %}">LineItems</a></li>
{% endblock %}

<!---Block for right pane --->            
{% block right_pane_block %} 
	<div class="panel panel-default table-responsive">
    	<div class="panel-heading">
        	<h3 class="panel-title">Orders</h3>
        </div>
        <div class="panel-body"> 
        	<form action="{% url 'supply:order_new' %}">                       
        		<button type="submit" class="btn btn-default">New Order</button>
        	</form>              
        </div>  
		<div class="table-responsive">                     
        	<table class="table">         
                <tr>
                  <th>Name</th><th>Line Items</th><th>Advertiser</th><th>Start Time</th><th>End Time</th>
                </tr>
                {% for order_entry in order_collection %}       
                <tr>
					<td><a href="{% url 'supply:order_edit' 1 %}">{{order_entry.name}}</a></td><td>{{order_entry.status}}</td><td>{{order_entry.company}}</td><td>Sep 1, 2013 12:00pm</td><td>Sep 30, 2013, 11:59pm</td>
				</tr>
				{% endfor %}
				</table> 
		</div>           
		<div class="panel-footer">
	</div>
</div><!--/panel-->
{% endblock %}
