<!---Inherits base.html --->
{% extends "supply/base.html" %}

<!---title block --->
{% block page_title %}
    <title>Easy Native Ad Platform</title>
{% endblock %}

<!---Block for Navigation Bar on top of page --->
{% block nav_bar_block %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
            <li><a href="{% url 'supply:inventory' %}">Inventory</a></li>
            <li><a href="{% url 'supply:reports' %}">Reports</a></li>
          </ul>
{% endblock %}

<!---Block for menu list on left side --->
{% block side_bar_block %}
              <li><a href="{% url 'supply:index' %}">Orders</a></li>
              <li class="active"><a href="{% url 'supply:lines' %}">Line Items</a></li>
{% endblock %}

<!---Block for right pane --->
{% block right_pane_block %}
          <div class="panel panel-default table-responsive">
            <div class="panel-heading">
              <h3 class="panel-title">Line Items</h3>
            </div>

            <div class="panel-body table-responsive">  
            {% for one_combined_entry in all_orders_with_line_items %} 
              <div class="panel panel-default table-responsive">
                <div class="panel-body table-responsive">  

                      <h3 class="panel-title"> Order: {{one_combined_entry.order.name}}</h3>
                      <table class="table"> 
                          <tr>
                          <th>Name</th><th>Platform</th><th>Type</th>
                          </tr>
                          {% for line_item_entry in one_combined_entry.line_item_list %}
                              <tr>
					            <td><a href="{% url 'supply:line_edit' line_item_entry.id %}">{{line_item_entry.name}}</a></td><td>{{line_item_entry.platform}}</td><td>{{line_item_entry.type}}</td>
				               </tr>
				         {% endfor %}         
                    </table>
                
  		          <form action="{% url 'supply:line_new' one_combined_entry.order.id %}">                      
                    <button type="submit" class="btn btn-default">New Line Item</button> 
                  </form>
                </div>
              </div><!--/panel-->
            {% endfor %}
            </div><!--/panel-body-->
            <div class="panel-footer">
            </div>
          </div><!--/panel-->
{% endblock %}
