<!---Inherits base.html --->
{% extends "supply/base.html" %}

<!---title block --->
{% block page_title %}
<title>New Order, Easy Native Ad Platform</title>
{% endblock %}

<!---Block for Navigation Bar on top of page --->
{% block nav_bar_block %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
            <li><a href="{% url 'supply:inventory' %}">Inventory</a></li>
            <li><a href="{% url 'supply:reports' %}">Reports</a></li>
          </ul>
{% endblock %}

 <!---Block for menu list on left side --->
{% block side_bar_block %}
              <li><a href="{% url 'supply:index' %}">Orders</a></li>
              <li class="active"><a href="{% url 'supply:lines' %}">Line Items</a></li>
{% endblock %}

<!---Block for right pane --->
{% block right_pane_block %}
          <form class="form-horizontal" role="form" action="{% url 'supply:line_edit' line_id %}" method="post">
            {% csrf_token %}

            <div class="panel panel-default table-responsive">
              <div class="panel-heading">
                <h3 class="panel-title">Edit line item</h3>
              </div><!--/panel-head-->
              <div class="panel-body">                        
                <div class="form-group">
                  <label for="inputLineName" class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" name="inputLineName" value="{{inputLineName}}"> 
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="inputPlatform" class="col-lg-2 control-label">Platform</label>
                  <div class="col-lg-10", id="inputPlatform">
                    <select class="form-control" name="inputPlatform">
                      {% for choice in line_item.PLATFORM_TYPES %}
                        {% ifequal inputPlatform choice.0 %}
                          <option value = "{{ choice.0 }}" selected > {{ choice.1 }} </option>
                        {% else %}  
                          <option value = "{{ choice.0 }}"> {{ choice.1 }} </option>
                        {% endifequal %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <label class="control-label">Settings</label>
                <div class="form-group">
                  <label for="type" class="col-lg-2 control-label">Type</label>
                  <div class="col-lg-10">
                    <select class="form-control" name="type">
                      {% for choice in line_item.LINE_ITEM_TYPES %}
                        {% ifequal type choice.0 %}
                          <option value = "{{ choice.0 }}" selected > {{ choice.1 }} </option>
                        {% else %}  
                          <option value = "{{ choice.0 }}"> {{ choice.1 }} </option>
                        {% endifequal %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <label class="control-label">Targeting</label>
                <div class="form-group">
                  <label for="inventory" class="col-lg-2 control-label">Inventory</label>
                  <div class="col-lg-10">
                    {% for element_2 in adUnit_by_site_list %}
                    <label class="control-label">{{ element_2.site_with_adUnit }}</label>
                     {% for element_1 in element_2.entire_adUnit_list %}
                        <label class="checkbox">
                          {% if element_1.selected %}
                            <input type="checkbox" name="inventory" value="{{element_1.adUnit.id}}" checked >{{element_1.adUnit.name}} 
                          {% else %}
                            <input type="checkbox" name="inventory" value="{{element_1.adUnit.id}}">{{element_1.adUnit.name}}                      
                          {% endif %}
                        </label>
                      {% endfor %} <!--adUnit---> 
                         
                    {% endfor %} <!--element --->
                  </div>
                </div>



              </div><!--/panel-body-->

              <div class="panel-footer">
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Update</button>
                  </div>
                </div>
              </div><!--/panel-footer-->

            </div><!--/panel-->
          </form>
{% endblock %}
