<!---Inherits line_new_base.html, for purposes of putting new order and new line in the same web page --->
{% extends "supply/line_new_base.html" %}

<!---title block --->
{% block page_title %}
<title>New Order, Easy Native Ad Platform</title>
{% endblock %}

<!---Block for Navigation Bar on top of page --->
{% block nav_bar_block %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
            <li><a href="{% url 'supply:inventory' %}">Inventory</a></li>
            <li><a href="{% url 'supply:reports' %}">Reports</a></li>
          </ul>
{% endblock %}

 <!---Block for menu list on left side --->
{% block side_bar_block %}
              <li><a href="{% url 'supply:index' %}">Orders</a></li>
              <li class="active"><a href="{% url 'supply:lines' %}">Line Items</a></li>
{% endblock %}

{% block err_msg %}
	{% if errors %}
      <p style="color: red">
        Invalid input for new line: {{errors}}
       </p>
    {% endif %}
{% endblock err_msg %}   
