<!---Inherits line_new_base.html, in order to put both new order and new lines in one page --->
{% extends "supply/line_new_base.html" %}

<!---title block --->
{% block page_title %}
<title>New Order, Easy Native Ad Platform</title>
{% endblock %}

<!---Block for Navigation Bar on top of page --->
{% block nav_bar_block %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
            <li><a href="{% url 'supply:inventory' %}">Inventory</a></li>
            <li><a href="{% url 'supply:reports' %}">Reports</a></li>
          </ul>
{% endblock %}

 <!---Block for menu list on left side --->   
{% block side_bar_block %}            
              <li class="active"><a href="{% url 'supply:index' %}">Orders</a></li>
              <li><a href="{% url 'supply:lines' %}">Line Items</a></li>
{% endblock %}

<!---Block for right pane --->            

    
    <form class="form-horizontal" role="form" 
    {% block form_action %}
      action="{% url 'supply:order_new' %}" method="post">         
    {% endblock form_action %}
{% block err_msg %}
	{% if errors %}
      <p style="color: red">
        Invalid input for new order: {{errors}}
       </p>
    {% endif %}
{% endblock err_msg %}                          
            {% block template_rendering_1 %}
            <div class="panel panel-default table-responsive">         
               <div class="panel-heading">
                 <h3 class="panel-title">New order</h3>
               </div><!--/panel-head-->             
               <div class="panel-body">   
                                  
                <div class="form-group">
                  <label for="inputOrderName" class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" name="inputOrderName" placeholder="Name" value="{{name }}">
                 </div>
                </div>
                <div class="form-group">
                  <label for="inputCompany" class="col-lg-2 control-label">Company</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" name="inputCompany" placeholder="Company" value="{{ company }}">
                 </div>
                </div>
                
              </div><!--/panel-body-->
                  
              <div class="panel-footer">

              </div><!--/panel-footer-->

            </div><!--/panel-->
                {% endblock template_rendering_1 %}



