<!---Inherits frame.html --->
{% extends "accounts/frame.html" %}

{% load staticfiles %}

<!---title block --->
{% block page_title %}
  <title>Sign In - Open Native</title>
{% endblock %}

  {% block page_file_links %}
    <!-- Custom styles for this template -->
    <link href="{% static 'accounts/css/signin.css' %}" rel="stylesheet">
  {% endblock %}

  <!---Block for Navigation Bar on top of page --->
  {% block nav_bar_right_block %}
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'accounts:signin' %}">Sign in</a></li>
            <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
          </ul>
  {% endblock %}

  {% block main_row_block %}
    <div class="container">

      <form class="form-signin" action=""  method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if error %}
            <p style="color: red;">
                {{error}}
            </p>
        {% endif %}
        <input type="text" class="form-control" name="username" placeholder="Username or Email" autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="form-signin">
        <p>
        <a href={% url 'accounts:password_reset' %}>Forgot password?</a>
        </p>
        <p>
        <a href="{% url 'accounts:signup' %}">Need an account? Sign up now.</a>
        </p>
        </div>
      </form>
      
    </div> <!-- /container -->

  {% endblock %}
