<!---Inherits frame.html --->
{% extends "accounts/frame.html" %}

{% load staticfiles %}

<!---title block --->
{% block page_title %}
  <title>Sign In - Easy Native Ad Platform</title>
{% endblock %}

  {% block page_file_links %}
    <!-- Custom styles for this template -->
    <link href="{% static 'accounts/css/signin.css' %}" rel="stylesheet">
  {% endblock %}

  <!---Block for Navigation Bar on top of page --->
  {% block nav_bar_block %}
  {% endblock %}

  {% block main_row_block %}
    <div class="container">

      <form class="form-signin" action=""  method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if errors %}
            <p style="color: red;">
                {{errors}}
            </p>
        {% endif %}
        <input type="text" class="form-control" name="username" placeholder="Username or Email" autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->

  {% endblock %}
